<a href="https://colab.research.google.com/github/dikshakalambe25/LP2/blob/main/DescriptiveStatistics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [9]:
df=pd.read_csv('data.csv')
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [12]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [13]:
df.age.min()

17

In [14]:
df['age'].min()

17

In [15]:
df.age.count()

np.int64(48842)

In [16]:
df.age.max()

90

In [17]:
df.age.std()

13.71050993444322

In [18]:
df.age.mean()

np.float64(38.64358543876172)

In [19]:
df.age.quantile(0.25)

np.float64(28.0)

In [20]:
df.age.quantile(0.5)

np.float64(37.0)

In [21]:
df.age.quantile(0.75)

np.float64(48.0)

In [22]:
df.income.nunique()      #pandas method that counts the number of unique values (excluding NaN by default).

2

In [23]:
df.groupby(['income','age'])

In [24]:
df.groupby(['age','income']).count()

            workclass  fnlwgt  education  educational-num  marital-status  \
age income
17  <=50K         595     595        595              595             595
18  <=50K         862     862        862              862             862
19  <=50K        1050    1050       1050             1050            1050
    >50K            3       3          3                3               3
20  <=50K        1112    1112       1112             1112            1112
...               ...     ...        ...              ...             ...
88  <=50K           5       5          5                5               5
    >50K            1       1          1                1               1
89  <=50K           2       2          2                2               2
90  <=50K          42      42         42               42              42
    >50K           13      13         13               13              13

            occupation  relationship  race  gender  capital-gain  \
age income
17  <=50K          595           595   595     595           595
18  <=50K          862           862   862     862           862
19  <=50K         1050          1050  1050    1050          1050
    >50K             3             3     3       3             3
20  <=50K         1112          1112  1112    1112          1112
...                ...           ...   ...     ...           ...
88  <=50K            5             5     5       5             5
    >50K             1             1     1       1             1
89  <=50K            2             2     2       2             2
90  <=50K           42            42    42      42            42
    >50K            13            13    13      13            13

            capital-loss  hours-per-week  native-country
age income
17  <=50K            595             595             595
18  <=50K            862             862             862
19  <=50K           1050            1050            1050
    >50K               3               3               3
20  <=50K           1112            1112            1112
...                  ...             ...             ...
88  <=50K              5               5               5
    >50K               1               1               1
89  <=50K              2               2               2
90  <=50K             42              42              42
    >50K              13              13              13

[142 rows x 13 columns]

In [25]:
df.groupby(['age','income']).min()

                   workclass  fnlwgt   education  educational-num  \
age income
17  <=50K                  ?   19752        10th                3
18  <=50K                  ?   20057        10th                3
19  <=50K                  ?   20469        10th                1
    >50K                   ?  142738        12th                4
20  <=50K                  ?   19410        10th                1
...                      ...     ...         ...              ...
88  <=50K            Private   30102     7th-8th                4
    >50K    Self-emp-not-inc  263569        11th                7
89  <=50K                  ?   29106        10th                6
90  <=50K                  ?   39824        10th                2
    >50K                   ?   46786  Assoc-acdm                9

                marital-status       occupation   relationship  \
age income
17  <=50K   Married-civ-spouse                ?        Husband
18  <=50K             Divorced                ?        Husband
19  <=50K             Divorced                ?        Husband
    >50K    Married-civ-spouse                ?  Not-in-family
20  <=50K             Divorced                ?        Husband
...                        ...              ...            ...
88  <=50K             Divorced     Adm-clerical        Husband
    >50K    Married-civ-spouse  Farming-fishing        Husband
89  <=50K   Married-civ-spouse                ?        Husband
90  <=50K             Divorced                ?        Husband
    >50K    Married-civ-spouse                ?        Husband

                          race  gender  capital-gain  capital-loss  \
age income
17  <=50K   Amer-Indian-Eskimo  Female             0             0
18  <=50K   Amer-Indian-Eskimo  Female             0             0
19  <=50K   Amer-Indian-Eskimo  Female             0             0
    >50K                 White  Female             0             0
20  <=50K   Amer-Indian-Eskimo  Female             0             0
...                        ...     ...           ...           ...
88  <=50K                White  Female             0             0
    >50K                 White    Male          6418             0
89  <=50K                White    Male             0             0
90  <=50K   Asian-Pac-Islander  Female             0             0
    >50K                 Black  Female             0             0

            hours-per-week native-country
age income
17  <=50K                4              ?
18  <=50K                2              ?
19  <=50K                2              ?
    >50K                20  United-States
20  <=50K                2              ?
...                    ...            ...
88  <=50K                5              ?
    >50K                40  United-States
89  <=50K               20  United-States
90  <=50K                4              ?
    >50K                15        Ecuador

[142 rows x 13 columns]

In [26]:
df.groupby('income')['age'].mean()

income
<=50K    36.872184
>50K     44.275178
Name: age, dtype: float64

In [27]:
df.groupby('income')['age'].median()

income
<=50K    34.0
>50K     43.0
Name: age, dtype: float64

In [28]:
df.groupby('income')['age'].quantile(0.25)

income
<=50K    25.0
>50K     36.0
Name: age, dtype: float64

In [29]:
df.groupby('income')['age'].quantile(0.5)

income
<=50K    34.0
>50K     43.0
Name: age, dtype: float64

In [30]:
df.groupby('income')['age'].quantile(0.75)

income
<=50K    46.0
>50K     51.0
Name: age, dtype: float64

In [31]:
df.groupby('income')['age'].std()

income
<=50K    14.104118
>50K     10.558983
Name: age, dtype: float64

In [32]:
df.groupby('income')['age'].count()

income
<=50K    37155
>50K     11687
Name: age, dtype: int64

In [34]:
df=pd.read_csv('data.csv')
df
def display_statistics(dataset, dataset_name):
    numerical_columns = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
    print(f"\nStatistics for {dataset_name}:")

    def median(column_data):
        sorted_data = sorted(column_data)
        n = len(sorted_data)
        mid = n // 2
        if n % 2 == 0:
            return (sorted_data[mid - 1] + sorted_data[mid]) / 2
        return sorted_data[mid]

    def min_max(column_data):
        return min(column_data), max(column_data)

    print("\nMean")
    for col in numerical_columns:
        mean = dataset[col].mean()
        print(f"{col}: {mean:.3f}")

    print("\nMedian")
    for col in numerical_columns:
        median_value = median(dataset[col].dropna().values)
        print(f"{col}: {median_value:.3f}")

        print("\nStandard Deviation")
    for col in numerical_columns:
        std_deviation = dataset[col].std()
        print(f"{col}: {std_deviation:.6f}")

    print("\nMin and Max")
    for col in numerical_columns:
        min_value, max_value = min_max(dataset[col].dropna().values)
        print(f"{col}: Min = {min_value}, Max = {max_value}")

    print("\nQuantile 25")
    for col in numerical_columns:
        q1 = dataset[col].quantile(0.25)
        print(f"25th Percentile of {col}: {q1}")

    print("\nQuantile 75")
    for col in numerical_columns:
        q3 = dataset[col].quantile(0.75)
        print(f"75th Percentile of {col}: {q3}")

display_statistics(df, "Academic performance Dataset")

Statistics for Academic performance Dataset:

Mean
age: 38.644
fnlwgt: 189664.135
educational-num: 10.078
capital-gain: 1079.068
capital-loss: 87.502
hours-per-week: 40.422

Median
age: 37.000

Standard Deviation
fnlwgt: 178144.500

Standard Deviation
educational-num: 10.000

Standard Deviation
capital-gain: 0.000

Standard Deviation
capital-loss: 0.000

Standard Deviation
hours-per-week: 40.000

Standard Deviation
age: 13.710510
fnlwgt: 105604.025423
educational-num: 2.570973
capital-gain: 7452.019058
capital-loss: 403.004552
hours-per-week: 12.391444

Min and Max
age: Min = 17, Max = 90
fnlwgt: Min = 12285, Max = 1490400
educational-num: Min = 1, Max = 16
capital-gain: Min = 0, Max = 99999
capital-loss: Min = 0, Max = 4356
hours-per-week: Min = 1, Max = 99

Quantile 25
25th Percentile of age: 28.0
25th Percentile of fnlwgt: 117550.5
25th Percentile of educational-num: 9.0
25th Percentile of capital-gain: 0.0
25th Percentile of capital-loss: 0.0
25th Percentile of hours-per-week: 40.0

Quantile 75
75th Percentile of age: 48.0
75th Percentile of fnlwgt: 237642.0
75th Percentile of educational-num: 12.0
75th Percentile of capital-gain: 0.0
75th Percentile of capital-loss: 0.0
75th Percentile of hours-per-week: 45.0